# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.vscode
.settings
gradle/wrapper
.gitattributes
gradlew
gradlew.bat
app/bin/main/test/cashregister/CashRegister.class
app/bin/main/test/cashregister/Denomination.class
